.sidebar{
    background-color: #FFFFFF;
    height: 100vh;
    width: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.heading{
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    position: sticky;
    top: 100;
    font-family: "Roboto", sans-serif;
}

.chats{
    overflow-y: scroll;
    height: 76.5vh;
}

.chats::-webkit-scrollbar{
    width: 10px;
}

.sidebar button{
    position: absolute;
    padding: 1rem;
    bottom: 5%;
    right: 5%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    background-color: #16008B;
    color: white;
    font-size: 1.05rem;
    font-weight: 800;
    align-items: center;
    z-index: 100;
}

@media (max-width:1024px) {
    .heading{
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 768px){
    .heading{
        font-size: 1.5rem;
    }
    .sidebar{
        width: 35vw;
        height: 100vh;
    }
}

@media (max-width: 431px) {
    .mobileMenu{
        width: 100vw !important;
        height: 100vh;
        
    }
    .mobileChat{
        display: none;
    }

    .heading{
        font-size: 2rem;
    }
}